#loginView.row
    fieldset.small-12.medium-9.medium-centered.large-6.large-centered.columns
        legend.title(data-rv-text='resources.thisIsTheLoginView')
        .row
            .small-12.columns
                form(data-rv-on-submit='view.doLogin | preventDefault')
                    .row.collapse
                        .large-3.columns
                            span.prefix Username
                        .large-9.columns
                            input(data-rv-value='model:username', data-rv-placeholder='resources.username', type='text')
                    .row.collapse
                        .large-3.columns
                            span.prefix Password
                        .large-9.columns
                            input(data-rv-value='model:password', data-rv-placeholder='resources.password', type='password')
                    .row
                        .small-12.columns
                            input.button.right(type='submit', data-rv-value='resources.login')
