extends ./index.jade

block head

block headerContent
    #header

block content
    #stage
        fieldset
            legend Yes Votes
            ul#yesVotes
        fieldset
            legend no Votes
            ul#noVotes    

block modal
    #modal

block footer
    #footer

block script
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/staticPages/summary.js')
