extends ./index.jade

block head

block headerContent
    #header

block content
    #stage
        fieldset
            legend Results
            ul#resultList

block modal
    #modal

block footer
    #footer

block script
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/staticPages/summary.js')
