#navigation
    .icon-bar.two-up(data-rv-unless='model:userModel->loggedIn')
        a.item(href='/')
            i.fa.fa-home
        .item
    .icon-bar.two-up(data-rv-if='model:userModel->loggedIn')
        a.item(href='/')
            i.fa.fa-home
        a.item(href='/logout')
            i.fa.fa-sign-out
