#homeView
    .row
        .small-12.columns.title(data-rv-text='resources.thisIsTheHomeView')
    .row
        .medium-6.columns.content Something oh okay
        .medium-6.columns.content Then it's an example
