// Definition
$red : red;
$blue : blue;
$gray : #CCCCCC;
$lightBlue : #008CBA;

// Implementation

// Titles
$titleColor : $red;
$alternativeTitleColor : $lightBlue;

// Content
$contentColor : $blue;
